*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.flex{
    justify-content: flex-end;
    align-items: center;
}

.box{
    background-color: #646F7B;
    border-radius: 1.2rem;
    color:white
}

main {
    height: calc(100vh - 70px);
    overflow-y: auto;
    display: flex;
    background-color: #000000;
}

div.image{
    position: relative;
}

.mute{
    position:absolute;
    bottom:8px;
    left:4px;
    background-color: #646F7B;
    padding:.15rem;
}

p{
    color:white;
    font-size:.7rem;
}

.row{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    margin: 0 1rem;
}

img{
    margin: .25rem;
}


.fa-solid{
    color:white;
}

span{
    color:white
}


header{
    height: 70px;
     background-color: #222222;
 }

.flex-centered{
    display: flex;
     justify-content: space-between;
 }

 header > section{
     height: 100%;
     display: flex;
 }

.button {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: .66rem;
 }

 div.button > i{
     font-size: 1.4rem;
     margin-bottom: .25rem;
 }

i.fa-chevron-up{
     font-size: .66rem;
 }

i.fa-share-from-square{
     color: #4bc700;
 }

.end-meeting{
     background-color: #4a4a4a;
     color: red;
 }

