*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.flex{
    justify-content: flex-end;
    align-items: center;
}
.box{
    background-color: #646F7B;
    border-radius: 1.2rem;
    color:white
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #000000;
    overflow-y: auto;
}

div.image{
    position: relative;
  
}

.mute{
    position:absolute;
    bottom:8px;
    left:4px;
    background-color: #646F7B;
    padding:.15rem;
}

p{
    color:white;
    font-size:.7rem;
}

.row{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    margin: 0 1rem;
}

img{
    margin: .25rem;
}

