*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

main {
    height: 100vh;
    display: flex;
    background-color: black;
}

div.image{
    position: relative;
}

.mute{
    position:absolute;
    bottom:4px;
    left:0;
    background-color:grey;
}

p{
    color:white;
}

.row{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    overflow-y: auto;
}